<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalabe=no">
    <meta name="keywords" content="Hoja de Vida, Felix Benzan, Curriculum Vitae ">
    <meta name="author" content="Felix Ramon Benzan Castro">
    <meta name="description" content="Educación de Felix Benzan">
    <title>Curriculum Vitae- Experiencias - Felix R. Benzan</title>
  </head>
  <body>
    <header>
      <h1>
        <svg width="100" height="90" viewbox="0 0 100 90">
          <image xlink:href="../images/frbc_.svg" width="100" height="150" >
        </svg>
        Curriculum Vitae
      </h1>

      <h2>Datos Personales</h2>
      <h3>Felix Ramon Benzan Castro</h3>
      <h3>Fantino, Provincia Sánchez Ramírez, República Dominicana</h3>
      <h3>27 de Julio del 1990</h3>
      <hr>
    </header>
    <nav>
      <a href="../index.html">Inicio</a> |
      <a href="educacion.html">Educación</a>|
      <strong><a href="experiencia.html">Experiencia</a></strong>
    </nav>
    <article id="experiencia">
      <h1>Experiencia</h1>
      <section id="video">
        <h2>Video - Habilidades e Intereses Profesionales</h2>
        <video src="../videos/HeI.mp4" poster="../images/HeI.jpg" width="400px" height="300px" controls preload="auto" title="Video - Habilidades e Intereses Profesionales">
          <source src="../videos/HeI.mp4" type="video/mp4">
          <source src="../videos/HeI.ogg" type="video/ogg">
            Su navegador no soporta los formatos de video establecidos.
        </video>
        <p>Un breve video en el que expreso mis habilidades e intereses profesionales.</p>
      </section>

      <section id="audio">
        <h2>Audio - Hobbies</h2>
        <audio src="../audios/Hobbies.mp3" preload="auto" controls title="Audio - Hobbies">
          <source src="../audios/Hobbies.ogg" type="audio/ogg">
          <source src="../audios/Hobbies.wav" type="audio/wav">
            Su navegador no soporta los formatos de audios establecidos.
        </audio>
      </section>

    </article>


    <footer>
        <a href="#">Volver Arriba</a> <br>
        <br>
        Copyright (c) 2018 Copyright <strong>Felix R. Benzan</strong> All Rights Reserved. <br>
        <em> <a href="mailto:felixr.benzan@ebg-solutions.com?subject=feedback">felixr.benzan@ebg-solutions.com</a></em>|
        <em><a href="mailto:felixbenz07@gmail.com?subject=feedback">felixbenz07@gmail.com</a></em><br>
        <a href="https://www.facebook.com/sr.benzan" target="_blank">
            <svg width="32" height="32" viewbox="0 0 32 32">
              <image xlink:href="../images/facebook64x64.svg" width="32" height="32">
            </svg>
        </a>
        <a href="https://www.ebg-solutions.com/felixr.benzan/nextu/hojadevida" target="_blank"><svg width="32" height="32" viewbox="0 0 32 32">
          <image xlink:href="../images/bussiness64x64.svg" width="32" height="32">
        </svg></a>
    </footer>
  </body>
</html>
